@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Beleren Bold';
    src:
        url('./fonts/Beleren2016-Bold.woff') format('woff'),
        url('./fonts/Beleren2016-Bold.ttf') format('truetype'),
        url('./fonts/Beleren2016-Bold.svg#Beleren2016-Bold') format('svg');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
